<!DOCTYPE html>

<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous">
	</script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>

	{% block head %}
	{% endblock %}

</head>
<body>
	<div class="main_container">
		<div class="navbar">
			<img class="logo nav_item" alt="logo" src="{{ url_for('static', filename='pictures/logos/whitelogo-small.png') }}" />
			<div class="nav_item space">

			</div>
			<div class="menu nav_item">
				<img class="menu_item" id="home" alt="home" src="{{ url_for('static', filename='pictures/icons/home_doorless_white.png') }}" />
				<img class="menu_item" id="inbox" alt="inbox" src="{{ url_for('static', filename='pictures/icons/envelope.png') }}" />
				<img class="menu_item" id="profile" alt="home" src="{{ url_for('static', filename='pictures/icons/profile.png') }}" />
				<img class="menu_item" id="add_post" alt="edit" src="{{ url_for('static', filename='pictures/icons/edit_white.png') }}" />

			</div>
		</div>
		<div class="bottom_navbar">
			{% block bottom_nav %}
			{% endblock %}
		</div>

		<div class="content_block">
			{% block content %}
			{% endblock %}
		</div>
		<div class="footer">
			<div class="footer_link">
				Privacy
			</div>
			<div class="footer_link">
				About
			</div>
		</div>

	</div>


</body>
</html>
