{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post_actions.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/story-view-no-art.css') }}" />

<script type="text/javascript" src="{{url_for('static', filename='js/post_actions.js')}}"></script>

{% endblock %}

{% block content %}

<div class="story_view_container">

	<div class="story_title">
		{{ post.title.upper() }}
	</div>
	<div class="story_text_space">
		{{ post.text }}
	</div>
	<div class="date_separator"></div>
	<div class="story_footer">
		<div class="creation_date">
			posted on {{ post.format_date() }}
		</div>
		<div class="post_relate">
			<i class="fas fa-heart fa-2x relate_button" id="relate_no_{{post.id}}"></i>
		</div>
		<div class="illustrate_button">
			ILLUSTRATE
		</div>
	</div>

</div>

{% endblock %}
